<head>
    <h1>Quick Questions</h1>
</head>

<div>
    <h3>
        <%= "Topic: #{@stack.topic}" %>
    </h3>
    <h4>
        <%= "Question from #{@stack.user} for #{@stack.coscclass}" %>
    </h4>
</div>
<div>
    <p>Question:</p>
    <p>
        <%= "#{@stack.comment}" %>
    </p>
</div>

<div>
    <h5>Add Comment:</h5>
    <!--Add a form to add to the comment of the @stack variable-->
</div>