// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// color scheme: #214252 #f05454 #af2d2d #ce6262
 

#header {
    font-family: 'Josefin Sans', sans-serif;
    padding: 15px;
    margin: auto;
    text-align: center;
    padding: 50px 0px 20px;
}

hr {
    border-top: 5px dotted blue;
    width: 50px;
}


.request {
    font-family: 'Josefin Sans', sans-serif;
}

#googleLogo {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#googleLogoBtn {
    width: 50px;
    heigth: 50px;
    display: inline-block;
    margin: 20px;
    border-radius: 50px;
}