// potential color scheme: #f8d49d #d35d6e #efb08c #5aa469
 
* {
    font-family: 'Josefin Sans', sans-serif;
}
 
#welcomeMsg {
    text-align: center;
    padding: 15px;
    font-size: 24px;
}

#googleLogo {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#googleLogoBtn {
    width: 50px;
    heigth: 50px;
    display: inline-block;
    margin: 5px;
    border-radius: 50px;
}

#auth {
    display: inline-block;
    padding: 10px;
}

#colgateImg{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

h1 {
    padding: 15px;
    margin: auto;
    text-align: center;
    padding: 10px 0px 20px;
}

#productLink {
    width: 400px;
}

.reqtd {
    width: 300px;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#sidebar {
    width: 20%;
    min-height: 100vh;
    display: inline-block;
    float: left;
    position: sticky;
    background-color: #d35d6e;
    border: solid 1px black;
}


.btn {
    margin: 5px 10px;
    padding: 5px;
    background-color: #efb08c;
}

#content {
    display: inline-block;
    width: 80%;
    height: 100%;
    min-height: 100vh;
    background-color: #f8d49d;
    border: solid 1px black;
}

#allRequests {
    margin: auto;
    width: 90%;
    padding: 20px;
}


