// potential color scheme: #f8d49d #d35d6e #efb08c #5aa469
 
* {
    font-family: 'Josefin Sans', sans-serif;
}
 
#welcomeMsg {
    text-align: center;
    padding: 15px;
    font-size: 24px;
}

.googleAction {
    vertical-align: center;
    text-align: center;
    margin: 20px;
    display: block;
    font-size: 20px;
}

#googleLogo {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#googleLogoBtn {
    width: 50px;
    heigth: 50px;
    display: block;
    margin: auto;
    border-radius: 50px;
}

#auth {
    display: block;
    padding: 10px;
    margin: 40px 0px;
}

#colgateImgWrapper {
    width: 100%;
}

#colgateImg{
    height: 100px;
    width: 100px;
    margin: auto;
    padding: 10px;
    display: block;
}

h1 {
    padding: 15px;
    margin: auto;
    text-align: center;
    padding: 10px 0px 20px;
}

.table {
    margin: auto;
    width: 90%;
    padding: 20px;
}

#backBtn {
    margin: 0px 0px 60px 30px;
    padding: 6px 18px;
}

#zoomLink {
    width: 400px;
}


#wrapper {
    width: 100%;
    height: 100%;
}

#sidebar {
    width: 20%;
    min-height: 100vh;
    display: inline-block;
    float: left;
    position: sticky;
    background-color: #d35d6e;
    border: solid 1px black;
}


.btn {
    margin: 5px 30px;
    padding: 5px;
    background-color: #efb08c;
}

#content {
    display: inline-block;
    width: 80%;
    height: 100%;
    min-height: 100vh;
    background-color: #f8d49d;
    border: solid 1px black;
}

#showContent {
    background-color: #f8d49d;
}

#showActions {
    padding: 20px;
    width: 100%;
}

#zoomActions {
    display: inline-block;
    float: right;
}

.zoomAction {
    vertical-align: bottom;
    margin: 0px;
    float: right;
}

#newContent {
    background-color: #f8d49d;
}

.newFormElement {
    width: 400px;   
    margin-left: 80px;
}

#createBtn {
    margin: 0px;
}

#stackContent {
    background-color: #f8d49d;
}

#stackIndexRoutes {
    padding: 20px;
}


#newStackContent {
    background-color: #f8d49d;
}
